---
swagger: "2.0"
info:
  description: "Services that provide access and interaction with all sorts of memeber\
    \ data.\n"
  version: "1.0.4"
  title: "member-microservice"
  license:
    name: "MIT"
    url: "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
host: "api.topcoder.com"
basePath: "/v3"
schemes:
- "http"
- "https"
paths:
  /members/stats/distribution:
    get:
      description: "Get member distribution statistics"
      operationId: "membersStatsDistributionGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "filter"
        in: "query"
        description: "fieldName=fieldValue (enum[string],optional)  - parameter for\
          \ filtering the fields according to v3 spec\n\n+ track - Filter by track\n\
          + subTrack - Filter by subTrack\n"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "fields=fieldName1,fieldName2,...,fieldN  - parameter for choosing\
          \ which fields of MemberDistributionStats that will be included in response.\n\
          \n+ track - Select the field track\n+ subTrack - Select the field subTrack\n\
          + distribution - Select the field distribution\n+ updatedAt - Select the\
          \ field updatedAt\n+ createdAt - Select the field createdAt\n+ createdBy\
          \ - Select the field createdBy\n+ updatedBy - Select the field updatedBy\n"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemberDistributionStatsResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-swagger-router-controller: "Default"
  /members/{handle}/externalAccounts:
    get:
      description: "get member external accounts"
      operationId: "membersHandleExternalAccountsGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "fields=fieldName1,fieldName2,...,fieldN  - parameter for choosing\
          \ which fields of MemberExternalAccounts that will be included in response.\n\
          \n+ userId - Select the field userId\n+ handle - Select the field handle\n\
          + behance - Select the field behance\n+ bitbucket - Select the field bitbucket\n\
          + dribbble - Select the field dribbble\n+ github - Select the field github\n\
          + linkedin - Select the field linkedin\n+ stackoverflow - Select the field\
          \ stackoverflow\n+ twitter - Select the field twitter\n+ updatedAt - Select\
          \ the field updatedAt\n+ createdAt - Select the field createdAt\n+ createdBy\
          \ - Select the field createdBy\n+ updatedBy - Select the field updatedBy\n"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemberExternalAccountsResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-swagger-router-controller: "Default"
  /members/{handle}/externalLinks:
    get:
      description: "get member external links"
      operationId: "membersHandleExternalLinksGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "fields=fieldName1,fieldName2,...,fieldN  - parameter for choosing\
          \ which fields of MemberExternalLinkData that will be included in response.\n\
          \n+ userId - Select the field userId\n+ key - Select the field key\n+ handle\
          \ - Select the field handle\n+ description - Select the field description\n\
          + entities - Select the field entities\n+ keywords - Select the field keywords\n\
          + title - Select the field title\n+ images - Select the field images\n+\
          \ source - Select the field source\n+ synchronizedAt - Select the field\
          \ synchronizedAt\n+ url - Select the field url\n"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemberExternalLinkDataResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-swagger-router-controller: "Default"
    post:
      description: "create member external link"
      operationId: "membersHandleExternalLinksPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/ExternalLinkURLBodyParam"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ExternalLinkURLResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "Miss authentication credentials"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "No permission or wrong token"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      security:
      - bearer: []
      x-swagger-router-controller: "Default"
  /members/{handle}/externalLinks/{key}:
    delete:
      description: "delete member external link"
      operationId: "membersHandleExternalLinksKeyDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - name: "key"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemberExternalLinkResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "Miss authentication credentials"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "No permission or wrong token"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      security:
      - bearer: []
      x-swagger-router-controller: "Default"
  /members/{handle}/financial:
    get:
      description: "Get member financial information"
      operationId: "membersHandleFinancialGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "fields=fieldName1,fieldName2,...,fieldN  - parameter for choosing\
          \ which fields of MemberFinancial that will be included in response.\n\n\
          + userId - Select the field userId\n+ amount - Select the field amount\n\
          + status - Select the field status\n+ updatedAt - Select the field updatedAt\n\
          + createdAt - Select the field createdAt\n+ createdBy - Select the field\
          \ createdBy\n+ updatedBy - Select the field updatedBy\n"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemberFinancialResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "Miss authentication credentials"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "No permission or wrong token"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      security:
      - bearer: []
      x-swagger-router-controller: "Default"
  /members/{handle}/stats/history:
    get:
      description: "Get member history statistics"
      operationId: "membersHandleStatsHistoryGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "fields=fieldName1,fieldName2,...,fieldN  - parameter for choosing\
          \ which fields of MemberHistoryStats that will be included in response.\n\
          \n+ userId - Select the field userId\n+ handle - Select the field handle\n\
          + handleLower - Select the field handleLower\n+ develop - Select the field\
          \ develop\n+ dataScience - Select the field dataScience\n+ updatedAt - Select\
          \ the field updatedAt\n+ createdAt - Select the field createdAt\n+ createdBy\
          \ - Select the field createdBy\n+ updatedBy - Select the field updatedBy\n"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemberHistoryStatsResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-swagger-router-controller: "Default"
  /members/{handle}:
    get:
      description: "get member profile. The authentication credential is optional."
      operationId: "membersHandleGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "fields=fieldName1,fieldName2,...,fieldN  - parameter for choosing\
          \ which fields of MemberProfile that will be included in response.\n\n+\
          \ maxRating - Select the field maxRating\n+ userId - Select the field userId\n\
          + firstName - Select the field firstName\n+ lastName - Select the field\
          \ lastName\n+ description - Select the field description\n+ otherLangName\
          \ - Select the field otherLangName\n+ handle - Select the field handle\n\
          + handleLower - Select the field handleLower\n+ status - Select the field\
          \ status\n+ email - Select the field email\n+ addresses - Select the field\
          \ addresses\n+ homeCountryCode - Select the field homeCountryCode\n+ competitionCountryCode\
          \ - Select the field competitionCountryCode\n+ photoURL - Select the field\
          \ photoURL\n+ tracks - Select the field tracks\n+ updatedAt - Select the\
          \ field updatedAt\n+ createdAt - Select the field createdAt\n+ createdBy\
          \ - Select the field createdBy\n+ updatedBy - Select the field updatedBy\n"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemberProfileResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "Miss authentication credentials"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "No permission or wrong token"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      security:
      - bearer: []
      x-swagger-router-controller: "Default"
    put:
      description: "update member profile, it will send the email verification if\
        \ the email is changed"
      operationId: "membersHandlePUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/MemberProfileBodyParam"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemberProfileResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "Miss authentication credentials"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "No permission or wrong token"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      security:
      - bearer: []
      x-swagger-router-controller: "Default"
  /members/{handle}/verify:
    post:
      description: "verify the user email"
      operationId: "membersHandleVerifyPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - name: "oldEmail"
        in: "query"
        description: "the old email"
        required: true
        type: "string"
      - name: "newEmail"
        in: "query"
        description: "the new email"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "the verification token"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/StringResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "Miss authentication credentials"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "No permission or wrong token"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      security:
      - bearer: []
      x-swagger-router-controller: "Default"
  /members/{handle}/photo:
    put:
      description: "update photo"
      operationId: "membersHandlePhotoPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/PhotoTokenContentTypeBodyParam"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/StringResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "Miss authentication credentials"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "No permission or wrong token"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      security:
      - bearer: []
      x-swagger-router-controller: "Default"
  /members/{handle}/photoUploadUrl:
    post:
      description: "generate photo upload url"
      operationId: "membersHandlePhotoUploadUrlPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/PhotoContentTypeBodyParam"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PhotoTokenURLResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "Miss authentication credentials"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "No permission or wrong token"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      security:
      - bearer: []
      x-swagger-router-controller: "Default"
  /members/{handle}/skills:
    get:
      description: "get member aggregated skills"
      operationId: "membersHandleSkillsGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "fields=fieldName1,fieldName2,...,fieldN  - parameter for choosing\
          \ which fields of MemberAggregatedSkills that will be included in response.\n\
          \n+ userId - Select the field userId\n+ userHandle - Select the field userHandle\n\
          + handleLower - Select the field handleLower\n+ skills - Select the field\
          \ skills\n+ updatedAt - Select the field updatedAt\n+ createdAt - Select\
          \ the field createdAt\n+ createdBy - Select the field createdBy\n+ updatedBy\
          \ - Select the field updatedBy\n"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemberAggregatedSkillsResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "Miss authentication credentials"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "No permission or wrong token"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-swagger-router-controller: "Default"
    patch:
      description: "update member skills"
      operationId: "membersHandleSkillsPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/MemberEnteredSkillsBodyParam"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemberAggregatedSkillsResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "Miss authentication credentials"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "No permission or wrong token"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      security:
      - bearer: []
      x-swagger-router-controller: "Default"
  /members/{handle}/stats:
    get:
      description: "get member stats"
      operationId: "membersHandleStatsGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "fields=fieldName1,fieldName2,...,fieldN  - parameter for choosing\
          \ which fields of MemberStats that will be included in response.\n\n+ userId\
          \ - Select the field userId\n+ handle - Select the field handle\n+ handleLower\
          \ - Select the field handleLower\n+ maxRating - Select the field maxRating\n\
          + challenges - Select the field challenges\n+ wins - Select the field wins\n\
          + develop - Select the field develop\n+ design - Select the field design\n\
          + dataScience - Select the field dataScience\n+ copilot - Select the field\
          \ copilot\n+ updatedAt - Select the field updatedAt\n+ createdAt - Select\
          \ the field createdAt\n+ createdBy - Select the field createdBy\n+ updatedBy\
          \ - Select the field updatedBy\n"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemberStatsResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      x-swagger-router-controller: "Default"
  /members/_suggest/{term}:
    get:
      description: "get member suggestions, only Administrator, Connect Administrator\
        \ and Connect Manager have permission to this endpoint"
      operationId: "members_suggestTermGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "term"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemberSuggestResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "Miss authentication credentials"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "No permission or wrong token"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      security:
      - bearer: []
      x-swagger-router-controller: "Default"
  /members/_search:
    get:
      description: "search members, the authentication credential is optional."
      operationId: "members_searchGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "filter"
        in: "query"
        description: "fieldName=fieldValue (enum[string],optional)  - parameter for\
          \ filtering the fields according to v3 spec\n\n+ query - Filter by query\n\
          + handle - Filter by handle\n+ fields - Filter by fields, separated by comma\n\
          + status - Filter by status\n"
        required: false
        type: "string"
      - name: "offset"
        in: "query"
        description: "number of items to skip. Defaults to 0"
        required: false
        type: "integer"
        format: "int32"
      - name: "limit"
        in: "query"
        description: "max records to return. Defaults to 10"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemeberSearchResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        401:
          description: "Miss authentication credentials"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "No permission or wrong token"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      security:
      - bearer: []
      x-swagger-router-controller: "Default"
  /leaderboards:
    get:
      description: "Get leaderboards of Top 10 Members that matching the specified\
        \ criteria. The authentication credential is optional."
      operationId: "leaderboardsGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "filter"
        in: "query"
        description: "fieldName=fieldValue (enum[string],optional)  - parameter for\
          \ filtering the fields according to v3 spec\n\n+ type - Filter by type,\
          \ required\n+ name - Filter by name, one of id and name should be provided\n\
          + id - Filter by id, one of id and name should be provided\n"
        required: true
        type: "string"
      - name: "offset"
        in: "query"
        description: "number of items to skip. Defaults to 0"
        required: false
        type: "integer"
        format: "int32"
      - name: "limit"
        in: "query"
        description: "max records to return. Defaults to 10"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemeberSearchResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      security:
      - bearer: []
      x-swagger-router-controller: "Default"
  /members/{handle}/traits:
    get:
      description: "get member profile traits"
      operationId: "membersHandleTraitsGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - name: "traitIds"
        in: "query"
        description: "traitIds value separated with comma\n+ basic_id\n+ work\n+ skill\n\
          + education\n+ communities\n"
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "fields=fieldName1,fieldName2,...,fieldN  - parameter for choosing\
          \ which fields of MemberProfileTrait that will be included in response.\n\
          \n+ traitId - Select the field traitId\n+ categoryName - Select the field\
          \ categoryName\n+ updatedAt - Select the field updatedAt\n+ createdAt -\
          \ Select the field createdAt\n+ createdBy - Select the field createdBy\n\
          + updatedBy - Select the field updatedBy\n+ traits - Select the field traits\n"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemberProfileTraitResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "No permission or wrong token"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      security:
      - bearer: []
      x-swagger-router-controller: "Default"
    post:
      description: "create member profile traits"
      operationId: "membersHandleTraitsPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/MemberProfileTraitBodyParam"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemberProfileTraitResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "No permission or wrong token"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      security:
      - bearer: []
      x-swagger-router-controller: "Default"
    put:
      description: "update member profile traits"
      operationId: "membersHandleTraitsPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/MemberProfileTraitBodyParam"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MemberProfileTraitResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "No permission or wrong token"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      security:
      - bearer: []
      x-swagger-router-controller: "Default"
    delete:
      description: "delete member profile traits"
      operationId: "membersHandleTraitsDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "handle"
        in: "path"
        required: true
        type: "string"
      - name: "traitIds"
        in: "query"
        description: "traitIds value separated with comma\n+ basic_id\n+ work\n+ skill\n\
          + education\n+ communities\n"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/NullResponse"
        400:
          description: "Bad request data"
          schema:
            $ref: "#/definitions/ErrorModel"
        403:
          description: "No permission or wrong token"
          schema:
            $ref: "#/definitions/ErrorModel"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorModel"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/ErrorModel"
      security:
      - bearer: []
      x-swagger-router-controller: "Default"
securityDefinitions:
  bearer:
    type: "apiKey"
    name: "Authorization"
    in: "header"
definitions:
  MemberProfileTraitBodyParam:
    type: "object"
    properties:
      param:
        type: "array"
        items:
          $ref: "#/definitions/MemberProfileTrait"
    example:
      param:
      - createdAt: "2000-01-23T04:56:07.000+00:00"
        updatedBy: 1.46581298050294517310021547018550336360931396484375
        traits:
          data:
          - "{}"
          - "{}"
        createdBy: 6.02745618307040320615897144307382404804229736328125
        traitId: "traitId"
        categoryName: "categoryName"
        updatedAt: "2000-01-23T04:56:07.000+00:00"
      - createdAt: "2000-01-23T04:56:07.000+00:00"
        updatedBy: 1.46581298050294517310021547018550336360931396484375
        traits:
          data:
          - "{}"
          - "{}"
        createdBy: 6.02745618307040320615897144307382404804229736328125
        traitId: "traitId"
        categoryName: "categoryName"
        updatedAt: "2000-01-23T04:56:07.000+00:00"
  MemberProfileTraitResponse:
    type: "object"
    properties:
      id:
        type: "string"
        description: "unique id identifying the request"
      version:
        type: "string"
      result:
        $ref: "#/definitions/MemberProfileTraitResponse_result"
    title: "the member profile trait response"
    example:
      result:
        metadata:
          totalCount: 6
        success: true
        content:
        - createdAt: "2000-01-23T04:56:07.000+00:00"
          updatedBy: 1.46581298050294517310021547018550336360931396484375
          traits:
            data:
            - "{}"
            - "{}"
          createdBy: 6.02745618307040320615897144307382404804229736328125
          traitId: "traitId"
          categoryName: "categoryName"
          updatedAt: "2000-01-23T04:56:07.000+00:00"
        - createdAt: "2000-01-23T04:56:07.000+00:00"
          updatedBy: 1.46581298050294517310021547018550336360931396484375
          traits:
            data:
            - "{}"
            - "{}"
          createdBy: 6.02745618307040320615897144307382404804229736328125
          traitId: "traitId"
          categoryName: "categoryName"
          updatedAt: "2000-01-23T04:56:07.000+00:00"
        status: 0.80082819046101150206595775671303272247314453125
      id: "id"
      version: "version"
  MemberProfileTrait:
    properties:
      traitId:
        type: "string"
      categoryName:
        type: "string"
      createdAt:
        type: "string"
        format: "date-time"
      createdBy:
        type: "number"
        format: "int64"
      updatedAt:
        type: "string"
        format: "date-time"
      updatedBy:
        type: "number"
        format: "int64"
      traits:
        $ref: "#/definitions/MemberProfileTraitData"
    example:
      createdAt: "2000-01-23T04:56:07.000+00:00"
      updatedBy: 1.46581298050294517310021547018550336360931396484375
      traits:
        data:
        - "{}"
        - "{}"
      createdBy: 6.02745618307040320615897144307382404804229736328125
      traitId: "traitId"
      categoryName: "categoryName"
      updatedAt: "2000-01-23T04:56:07.000+00:00"
  MemberProfileTraitData:
    properties:
      data:
        type: "array"
        items:
          type: "object"
          properties: {}
    description: "the type should be one of the MemberProfileBasicInfo, MemberProfileWork,\
      \ MemberProfileSkill, MemberProfileCommunities and MemberProfileEducation"
    example:
      data:
      - "{}"
      - "{}"
  MemberProfileBasicInfo:
    properties:
      handle:
        type: "string"
      firstName:
        type: "string"
      lastName:
        type: "string"
      shortBio:
        type: "string"
      gender:
        type: "string"
      tshirtSize:
        type: "string"
      country:
        type: "string"
      primaryInterestInTopcoder:
        type: "string"
  MemberProfileEducation:
    properties:
      type:
        type: "string"
      schoolCollegeName:
        type: "string"
      major:
        type: "string"
      timePeriodFrom:
        type: "string"
        format: "date-time"
      timePeriodTo:
        type: "string"
        format: "date-time"
      graduated:
        type: "boolean"
  MemberProfileCommunities:
    properties:
      cognitive:
        type: "boolean"
      blockchain:
        type: "boolean"
      ios:
        type: "boolean"
      predix:
        type: "boolean"
  MemberProfileSkill:
    properties:
      design:
        type: "array"
        items:
          type: "string"
      development:
        type: "array"
        items:
          type: "string"
      dataScience:
        type: "array"
        items:
          type: "string"
  MemberProfileWork:
    properties:
      company:
        type: "string"
      position:
        type: "string"
      industry:
        type: "string"
      cityTown:
        type: "string"
      timePeriodFrom:
        type: "string"
        format: "date-time"
      timePeriodTo:
        type: "string"
        format: "date-time"
  MemeberSearchResponse:
    type: "object"
    properties:
      id:
        type: "string"
        description: "unique id identifying the request"
      version:
        type: "string"
      result:
        $ref: "#/definitions/MemeberSearchResponse_result"
    title: "Single MemberSuggest object"
    example:
      result:
        metadata:
          totalCount: 6
        success: true
        content:
        - wins: 6.02745618307040320615897144307382404804229736328125
          skills:
          - score: 1.46581298050294517310021547018550336360931396484375
            name: "name"
          - score: 1.46581298050294517310021547018550336360931396484375
            name: "name"
          createdAt: 5.962133916683182377482808078639209270477294921875
          photoURL: "photoURL"
          stats:
            DESIGN:
              wins: 5.63737665663332876420099637471139430999755859375
              mostRecentSubmission: 2.3021358869347654518833223846741020679473876953125
              challenges: 7.061401241503109105224211816675961017608642578125
              subTracks:
              - wins: 9.301444243932575517419536481611430644989013671875
                mostRecentSubmission: 3.61607674925191080461672754609026014804840087890625
                passedScreening: 2.027123023002321833274663731572218239307403564453125
                challenges: 4.1456080298839363962315474054776132106781005859375
                avgPlacement: 7.3862819483858839220147274318151175975799560546875
                numInquiries: 1.231513536777255612975068288506008684635162353515625
                submissions: 1.024645700144157789424070870154537260532379150390625
                name: "name"
                screeningSuccessRate: 1.489415909854170383397331534069962799549102783203125
                submissionRate: 6.8468526983526398765889098285697400569915771484375
                id: 7.4577447736837658709418974467553198337554931640625
                winPercent: 1.173074250955943309548956676735542714595794677734375
                mostRecentEventDate: 4.9652184929849543237878606305457651615142822265625
              - wins: 9.301444243932575517419536481611430644989013671875
                mostRecentSubmission: 3.61607674925191080461672754609026014804840087890625
                passedScreening: 2.027123023002321833274663731572218239307403564453125
                challenges: 4.1456080298839363962315474054776132106781005859375
                avgPlacement: 7.3862819483858839220147274318151175975799560546875
                numInquiries: 1.231513536777255612975068288506008684635162353515625
                submissions: 1.024645700144157789424070870154537260532379150390625
                name: "name"
                screeningSuccessRate: 1.489415909854170383397331534069962799549102783203125
                submissionRate: 6.8468526983526398765889098285697400569915771484375
                id: 7.4577447736837658709418974467553198337554931640625
                winPercent: 1.173074250955943309548956676735542714595794677734375
                mostRecentEventDate: 4.9652184929849543237878606305457651615142822265625
              mostRecentEventDate: 5.02500479152029466689555192715488374233245849609375
            COPILOT:
              contests: 9.965781217890562260208753286860883235931396484375
              activeContests: 9.3693102714106686335071572102606296539306640625
              projects: 6.683562403749608193948006373830139636993408203125
              failures: 8.7620420127490010742121739895083010196685791015625
              fulfillment: 9.0183481860707832566959041287191212177276611328125
              reposts: 6.438423552598546706349225132726132869720458984375
              activeProjects: 3.557195227068097320710649000830017030239105224609375
            DATA_SCIENCE:
              wins: 6.96511769763884558415156789124011993408203125
              mostRecentSubmission: 1.2846590061165319429647979632136411964893341064453125
              challenges: 2.884162126668780246063761296682059764862060546875
              MARATHON_MATCH:
                wins: 6.77832496304801335185175048536621034145355224609375
                mostRecentSubmission: 6.87805222012787620400331434211693704128265380859375
                challenges: 5.94489560761401580890606055618263781070709228515625
                rank:
                  schoolRank: 6.70401929795003592715829654480330646038055419921875
                  maximumRating: 3.35319334701124294184637619764544069766998291015625
                  avgNumSubmissions: 3.093745262666447448651751983561553061008453369140625
                  rating: 7.14353804701230643559028976596891880035400390625
                  competitions: 0.885137473901165261480628032586537301540374755859375
                  volatility: 7.05877035158235610623478351044468581676483154296875
                  topTenFinishes: 6.51918095101838179772357761976309120655059814453125
                  minimumRating: 0.10263654006109401706225980888120830059051513671875
                  percentile: 4.6523964329332461176136348512955009937286376953125
                  defaultLanguage: "defaultLanguage"
                  avgRank: 8.9695787981969115065794539987109601497650146484375
                  rank: 7.7403518187411730622216055053286254405975341796875
                  countryRank: 3.02057969929162428712743349024094641208648681640625
                  bestRank: 3.05761002410493443193217899533919990062713623046875
                  topFiveFinishes: 7.04836565559697003635619694250635802745819091796875
                mostRecentEventDate: 5.5332583970349862312332334113307297229766845703125
                mostRecentEventName: "mostRecentEventName"
              mostRecentEventDate: 3.258856561904760695824734284542500972747802734375
              SRM:
                wins: 4.078845849666752343409825698472559452056884765625
                mostRecentSubmission: 0.202532411323639305322785730822943150997161865234375
                challenges: 6.6284642750877420525057459599338471889495849609375
                rank:
                  minimumRating: 4.258773108174356281097061582840979099273681640625
                  percentile: 1.0414449161182959269211778519093059003353118896484375
                  defaultLanguage: "defaultLanguage"
                  schoolRank: 4.67894798900584873990737833082675933837890625
                  maximumRating: 7.26052126480210358039357743109576404094696044921875
                  rating: 9.132027271330688478201409452594816684722900390625
                  competitions: 0.8774076871421565559927557842456735670566558837890625
                  rank: 9.7029638000235660655334868351928889751434326171875
                  volatility: 0.519900201872498524124921459588222205638885498046875
                  countryRank: 7.93350688173715123951978966942988336086273193359375
                mostRecentEventDate: 5.5073869641798811613853104063309729099273681640625
                mostRecentEventName: "mostRecentEventName"
              mostRecentEventName: "mostRecentEventName"
            DEVELOP:
              wins: 4.863159081028840091676102019846439361572265625
              mostRecentSubmission: 6.07389808578115175663469926803372800350189208984375
              challenges: 8.2516257489237574418439180590212345123291015625
              subTracks:
              - wins: 4.4596050349586793259959449642337858676910400390625
                mostRecentSubmission: 3.901545264248647004734493748401291668415069580078125
                challenges: 0.434313988241488146968549699522554874420166015625
                submissions:
                  appealSuccessRate: 2.940964297482789646664969041012227535247802734375
                  minScore: 1.7325933120207193116613098027301020920276641845703125
                  passedScreening: 8.289659398142969592981899040751159191131591796875
                  avgPlacement: 6.623518433804886029747649445198476314544677734375
                  reviewSuccessRate: 4.57393626423225096999658489949069917201995849609375
                  maxScore: 8.863729185622826634016746538691222667694091796875
                  appeals: 9.2541839462678385785920909256674349308013916015625
                  avgScore: 1.826870217705811594299802891327999532222747802734375
                  numInquiries: 3.502657762086400783374529055436141788959503173828125
                  submissions: 9.1831235947739937586220548837445676326751708984375
                  screeningSuccessRate: 8.761432466225475224064211943186819553375244140625
                  submissionRate: 0.4182561061793121925944660688401199877262115478515625
                  passedReview: 5.2991435602753593769875806174241006374359130859375
                  winPercent: 5.31248970433629619236626240308396518230438232421875
                name: "name"
                rank:
                  overallPercentile: 8.3782374103486905170257159625180065631866455078125
                  activeRank: 7.60686372309257929913428597501479089260101318359375
                  overallCountryRank: 3.78141247307679151390402694232761859893798828125
                  reliability: 3.11120283340319492282333158073015511035919189453125
                  rating: 9.8974926292155060991717618890106678009033203125
                  minRating: 5.87712470611669512976504847756586968898773193359375
                  volatility: 7.835035282970782333222814486362040042877197265625
                  overallSchoolRank: 0.4768402382624514768139079023967497050762176513671875
                  overallRank: 3.1497903714250554685349925421178340911865234375
                  activeSchoolRank: 2.380090174313445050557902504806406795978546142578125
                  activeCountryRank: 3.8041126957310780198895372450351715087890625
                  maxRating: 8.675064425986757754571954137645661830902099609375
                  activePercentile: 4.5183095178742433972729486413300037384033203125
                id: 0.4833312865174044237193129447405226528644561767578125
                mostRecentEventDate: 0.352621920992366444380650136736221611499786376953125
              - wins: 4.4596050349586793259959449642337858676910400390625
                mostRecentSubmission: 3.901545264248647004734493748401291668415069580078125
                challenges: 0.434313988241488146968549699522554874420166015625
                submissions:
                  appealSuccessRate: 2.940964297482789646664969041012227535247802734375
                  minScore: 1.7325933120207193116613098027301020920276641845703125
                  passedScreening: 8.289659398142969592981899040751159191131591796875
                  avgPlacement: 6.623518433804886029747649445198476314544677734375
                  reviewSuccessRate: 4.57393626423225096999658489949069917201995849609375
                  maxScore: 8.863729185622826634016746538691222667694091796875
                  appeals: 9.2541839462678385785920909256674349308013916015625
                  avgScore: 1.826870217705811594299802891327999532222747802734375
                  numInquiries: 3.502657762086400783374529055436141788959503173828125
                  submissions: 9.1831235947739937586220548837445676326751708984375
                  screeningSuccessRate: 8.761432466225475224064211943186819553375244140625
                  submissionRate: 0.4182561061793121925944660688401199877262115478515625
                  passedReview: 5.2991435602753593769875806174241006374359130859375
                  winPercent: 5.31248970433629619236626240308396518230438232421875
                name: "name"
                rank:
                  overallPercentile: 8.3782374103486905170257159625180065631866455078125
                  activeRank: 7.60686372309257929913428597501479089260101318359375
                  overallCountryRank: 3.78141247307679151390402694232761859893798828125
                  reliability: 3.11120283340319492282333158073015511035919189453125
                  rating: 9.8974926292155060991717618890106678009033203125
                  minRating: 5.87712470611669512976504847756586968898773193359375
                  volatility: 7.835035282970782333222814486362040042877197265625
                  overallSchoolRank: 0.4768402382624514768139079023967497050762176513671875
                  overallRank: 3.1497903714250554685349925421178340911865234375
                  activeSchoolRank: 2.380090174313445050557902504806406795978546142578125
                  activeCountryRank: 3.8041126957310780198895372450351715087890625
                  maxRating: 8.675064425986757754571954137645661830902099609375
                  activePercentile: 4.5183095178742433972729486413300037384033203125
                id: 0.4833312865174044237193129447405226528644561767578125
                mostRecentEventDate: 0.352621920992366444380650136736221611499786376953125
              mostRecentEventDate: 7.2037947498048939820591840543784201145172119140625
          description: "description"
          handle: "handle"
          maxRating:
            rating: 4.3323048218758941629857872612774372100830078125
            subTrack: "subTrack"
            track: "track"
          competitionCountryCode: "competitionCountryCode"
          userId: 2.7977867356748475913263973779976367950439453125
          tracks:
          - "tracks"
          - "tracks"
        - wins: 6.02745618307040320615897144307382404804229736328125
          skills:
          - score: 1.46581298050294517310021547018550336360931396484375
            name: "name"
          - score: 1.46581298050294517310021547018550336360931396484375
            name: "name"
          createdAt: 5.962133916683182377482808078639209270477294921875
          photoURL: "photoURL"
          stats:
            DESIGN:
              wins: 5.63737665663332876420099637471139430999755859375
              mostRecentSubmission: 2.3021358869347654518833223846741020679473876953125
              challenges: 7.061401241503109105224211816675961017608642578125
              subTracks:
              - wins: 9.301444243932575517419536481611430644989013671875
                mostRecentSubmission: 3.61607674925191080461672754609026014804840087890625
                passedScreening: 2.027123023002321833274663731572218239307403564453125
                challenges: 4.1456080298839363962315474054776132106781005859375
                avgPlacement: 7.3862819483858839220147274318151175975799560546875
                numInquiries: 1.231513536777255612975068288506008684635162353515625
                submissions: 1.024645700144157789424070870154537260532379150390625
                name: "name"
                screeningSuccessRate: 1.489415909854170383397331534069962799549102783203125
                submissionRate: 6.8468526983526398765889098285697400569915771484375
                id: 7.4577447736837658709418974467553198337554931640625
                winPercent: 1.173074250955943309548956676735542714595794677734375
                mostRecentEventDate: 4.9652184929849543237878606305457651615142822265625
              - wins: 9.301444243932575517419536481611430644989013671875
                mostRecentSubmission: 3.61607674925191080461672754609026014804840087890625
                passedScreening: 2.027123023002321833274663731572218239307403564453125
                challenges: 4.1456080298839363962315474054776132106781005859375
                avgPlacement: 7.3862819483858839220147274318151175975799560546875
                numInquiries: 1.231513536777255612975068288506008684635162353515625
                submissions: 1.024645700144157789424070870154537260532379150390625
                name: "name"
                screeningSuccessRate: 1.489415909854170383397331534069962799549102783203125
                submissionRate: 6.8468526983526398765889098285697400569915771484375
                id: 7.4577447736837658709418974467553198337554931640625
                winPercent: 1.173074250955943309548956676735542714595794677734375
                mostRecentEventDate: 4.9652184929849543237878606305457651615142822265625
              mostRecentEventDate: 5.02500479152029466689555192715488374233245849609375
            COPILOT:
              contests: 9.965781217890562260208753286860883235931396484375
              activeContests: 9.3693102714106686335071572102606296539306640625
              projects: 6.683562403749608193948006373830139636993408203125
              failures: 8.7620420127490010742121739895083010196685791015625
              fulfillment: 9.0183481860707832566959041287191212177276611328125
              reposts: 6.438423552598546706349225132726132869720458984375
              activeProjects: 3.557195227068097320710649000830017030239105224609375
            DATA_SCIENCE:
              wins: 6.96511769763884558415156789124011993408203125
              mostRecentSubmission: 1.2846590061165319429647979632136411964893341064453125
              challenges: 2.884162126668780246063761296682059764862060546875
              MARATHON_MATCH:
                wins: 6.77832496304801335185175048536621034145355224609375
                mostRecentSubmission: 6.87805222012787620400331434211693704128265380859375
                challenges: 5.94489560761401580890606055618263781070709228515625
                rank:
                  schoolRank: 6.70401929795003592715829654480330646038055419921875
                  maximumRating: 3.35319334701124294184637619764544069766998291015625
                  avgNumSubmissions: 3.093745262666447448651751983561553061008453369140625
                  rating: 7.14353804701230643559028976596891880035400390625
                  competitions: 0.885137473901165261480628032586537301540374755859375
                  volatility: 7.05877035158235610623478351044468581676483154296875
                  topTenFinishes: 6.51918095101838179772357761976309120655059814453125
                  minimumRating: 0.10263654006109401706225980888120830059051513671875
                  percentile: 4.6523964329332461176136348512955009937286376953125
                  defaultLanguage: "defaultLanguage"
                  avgRank: 8.9695787981969115065794539987109601497650146484375
                  rank: 7.7403518187411730622216055053286254405975341796875
                  countryRank: 3.02057969929162428712743349024094641208648681640625
                  bestRank: 3.05761002410493443193217899533919990062713623046875
                  topFiveFinishes: 7.04836565559697003635619694250635802745819091796875
                mostRecentEventDate: 5.5332583970349862312332334113307297229766845703125
                mostRecentEventName: "mostRecentEventName"
              mostRecentEventDate: 3.258856561904760695824734284542500972747802734375
              SRM:
                wins: 4.078845849666752343409825698472559452056884765625
                mostRecentSubmission: 0.202532411323639305322785730822943150997161865234375
                challenges: 6.6284642750877420525057459599338471889495849609375
                rank:
                  minimumRating: 4.258773108174356281097061582840979099273681640625
                  percentile: 1.0414449161182959269211778519093059003353118896484375
                  defaultLanguage: "defaultLanguage"
                  schoolRank: 4.67894798900584873990737833082675933837890625
                  maximumRating: 7.26052126480210358039357743109576404094696044921875
                  rating: 9.132027271330688478201409452594816684722900390625
                  competitions: 0.8774076871421565559927557842456735670566558837890625
                  rank: 9.7029638000235660655334868351928889751434326171875
                  volatility: 0.519900201872498524124921459588222205638885498046875
                  countryRank: 7.93350688173715123951978966942988336086273193359375
                mostRecentEventDate: 5.5073869641798811613853104063309729099273681640625
                mostRecentEventName: "mostRecentEventName"
              mostRecentEventName: "mostRecentEventName"
            DEVELOP:
              wins: 4.863159081028840091676102019846439361572265625
              mostRecentSubmission: 6.07389808578115175663469926803372800350189208984375
              challenges: 8.2516257489237574418439180590212345123291015625
              subTracks:
              - wins: 4.4596050349586793259959449642337858676910400390625
                mostRecentSubmission: 3.901545264248647004734493748401291668415069580078125
                challenges: 0.434313988241488146968549699522554874420166015625
                submissions:
                  appealSuccessRate: 2.940964297482789646664969041012227535247802734375
                  minScore: 1.7325933120207193116613098027301020920276641845703125
                  passedScreening: 8.289659398142969592981899040751159191131591796875
                  avgPlacement: 6.623518433804886029747649445198476314544677734375
                  reviewSuccessRate: 4.57393626423225096999658489949069917201995849609375
                  maxScore: 8.863729185622826634016746538691222667694091796875
                  appeals: 9.2541839462678385785920909256674349308013916015625
                  avgScore: 1.826870217705811594299802891327999532222747802734375
                  numInquiries: 3.502657762086400783374529055436141788959503173828125
                  submissions: 9.1831235947739937586220548837445676326751708984375
                  screeningSuccessRate: 8.761432466225475224064211943186819553375244140625
                  submissionRate: 0.4182561061793121925944660688401199877262115478515625
                  passedReview: 5.2991435602753593769875806174241006374359130859375
                  winPercent: 5.31248970433629619236626240308396518230438232421875
                name: "name"
                rank:
                  overallPercentile: 8.3782374103486905170257159625180065631866455078125
                  activeRank: 7.60686372309257929913428597501479089260101318359375
                  overallCountryRank: 3.78141247307679151390402694232761859893798828125
                  reliability: 3.11120283340319492282333158073015511035919189453125
                  rating: 9.8974926292155060991717618890106678009033203125
                  minRating: 5.87712470611669512976504847756586968898773193359375
                  volatility: 7.835035282970782333222814486362040042877197265625
                  overallSchoolRank: 0.4768402382624514768139079023967497050762176513671875
                  overallRank: 3.1497903714250554685349925421178340911865234375
                  activeSchoolRank: 2.380090174313445050557902504806406795978546142578125
                  activeCountryRank: 3.8041126957310780198895372450351715087890625
                  maxRating: 8.675064425986757754571954137645661830902099609375
                  activePercentile: 4.5183095178742433972729486413300037384033203125
                id: 0.4833312865174044237193129447405226528644561767578125
                mostRecentEventDate: 0.352621920992366444380650136736221611499786376953125
              - wins: 4.4596050349586793259959449642337858676910400390625
                mostRecentSubmission: 3.901545264248647004734493748401291668415069580078125
                challenges: 0.434313988241488146968549699522554874420166015625
                submissions:
                  appealSuccessRate: 2.940964297482789646664969041012227535247802734375
                  minScore: 1.7325933120207193116613098027301020920276641845703125
                  passedScreening: 8.289659398142969592981899040751159191131591796875
                  avgPlacement: 6.623518433804886029747649445198476314544677734375
                  reviewSuccessRate: 4.57393626423225096999658489949069917201995849609375
                  maxScore: 8.863729185622826634016746538691222667694091796875
                  appeals: 9.2541839462678385785920909256674349308013916015625
                  avgScore: 1.826870217705811594299802891327999532222747802734375
                  numInquiries: 3.502657762086400783374529055436141788959503173828125
                  submissions: 9.1831235947739937586220548837445676326751708984375
                  screeningSuccessRate: 8.761432466225475224064211943186819553375244140625
                  submissionRate: 0.4182561061793121925944660688401199877262115478515625
                  passedReview: 5.2991435602753593769875806174241006374359130859375
                  winPercent: 5.31248970433629619236626240308396518230438232421875
                name: "name"
                rank:
                  overallPercentile: 8.3782374103486905170257159625180065631866455078125
                  activeRank: 7.60686372309257929913428597501479089260101318359375
                  overallCountryRank: 3.78141247307679151390402694232761859893798828125
                  reliability: 3.11120283340319492282333158073015511035919189453125
                  rating: 9.8974926292155060991717618890106678009033203125
                  minRating: 5.87712470611669512976504847756586968898773193359375
                  volatility: 7.835035282970782333222814486362040042877197265625
                  overallSchoolRank: 0.4768402382624514768139079023967497050762176513671875
                  overallRank: 3.1497903714250554685349925421178340911865234375
                  activeSchoolRank: 2.380090174313445050557902504806406795978546142578125
                  activeCountryRank: 3.8041126957310780198895372450351715087890625
                  maxRating: 8.675064425986757754571954137645661830902099609375
                  activePercentile: 4.5183095178742433972729486413300037384033203125
                id: 0.4833312865174044237193129447405226528644561767578125
                mostRecentEventDate: 0.352621920992366444380650136736221611499786376953125
              mostRecentEventDate: 7.2037947498048939820591840543784201145172119140625
          description: "description"
          handle: "handle"
          maxRating:
            rating: 4.3323048218758941629857872612774372100830078125
            subTrack: "subTrack"
            track: "track"
          competitionCountryCode: "competitionCountryCode"
          userId: 2.7977867356748475913263973779976367950439453125
          tracks:
          - "tracks"
          - "tracks"
        status: 0.80082819046101150206595775671303272247314453125
      id: "id"
      version: "version"
  MemberSearchDataItem:
    properties:
      wins:
        type: "number"
      skills:
        type: "array"
        items:
          $ref: "#/definitions/MemberSearchDataItem_skills"
      createdAt:
        type: "number"
      photoURL:
        type: "string"
      stats:
        $ref: "#/definitions/MemberSearchDataItem_stats"
      description:
        type: "string"
      handle:
        type: "string"
      maxRating:
        $ref: "#/definitions/MemberSearchDataItem_maxRating"
      competitionCountryCode:
        type: "string"
      userId:
        type: "number"
      tracks:
        type: "array"
        items:
          type: "string"
    example:
      wins: 6.02745618307040320615897144307382404804229736328125
      skills:
      - score: 1.46581298050294517310021547018550336360931396484375
        name: "name"
      - score: 1.46581298050294517310021547018550336360931396484375
        name: "name"
      createdAt: 5.962133916683182377482808078639209270477294921875
      photoURL: "photoURL"
      stats:
        DESIGN:
          wins: 5.63737665663332876420099637471139430999755859375
          mostRecentSubmission: 2.3021358869347654518833223846741020679473876953125
          challenges: 7.061401241503109105224211816675961017608642578125
          subTracks:
          - wins: 9.301444243932575517419536481611430644989013671875
            mostRecentSubmission: 3.61607674925191080461672754609026014804840087890625
            passedScreening: 2.027123023002321833274663731572218239307403564453125
            challenges: 4.1456080298839363962315474054776132106781005859375
            avgPlacement: 7.3862819483858839220147274318151175975799560546875
            numInquiries: 1.231513536777255612975068288506008684635162353515625
            submissions: 1.024645700144157789424070870154537260532379150390625
            name: "name"
            screeningSuccessRate: 1.489415909854170383397331534069962799549102783203125
            submissionRate: 6.8468526983526398765889098285697400569915771484375
            id: 7.4577447736837658709418974467553198337554931640625
            winPercent: 1.173074250955943309548956676735542714595794677734375
            mostRecentEventDate: 4.9652184929849543237878606305457651615142822265625
          - wins: 9.301444243932575517419536481611430644989013671875
            mostRecentSubmission: 3.61607674925191080461672754609026014804840087890625
            passedScreening: 2.027123023002321833274663731572218239307403564453125
            challenges: 4.1456080298839363962315474054776132106781005859375
            avgPlacement: 7.3862819483858839220147274318151175975799560546875
            numInquiries: 1.231513536777255612975068288506008684635162353515625
            submissions: 1.024645700144157789424070870154537260532379150390625
            name: "name"
            screeningSuccessRate: 1.489415909854170383397331534069962799549102783203125
            submissionRate: 6.8468526983526398765889098285697400569915771484375
            id: 7.4577447736837658709418974467553198337554931640625
            winPercent: 1.173074250955943309548956676735542714595794677734375
            mostRecentEventDate: 4.9652184929849543237878606305457651615142822265625
          mostRecentEventDate: 5.02500479152029466689555192715488374233245849609375
        COPILOT:
          contests: 9.965781217890562260208753286860883235931396484375
          activeContests: 9.3693102714106686335071572102606296539306640625
          projects: 6.683562403749608193948006373830139636993408203125
          failures: 8.7620420127490010742121739895083010196685791015625
          fulfillment: 9.0183481860707832566959041287191212177276611328125
          reposts: 6.438423552598546706349225132726132869720458984375
          activeProjects: 3.557195227068097320710649000830017030239105224609375
        DATA_SCIENCE:
          wins: 6.96511769763884558415156789124011993408203125
          mostRecentSubmission: 1.2846590061165319429647979632136411964893341064453125
          challenges: 2.884162126668780246063761296682059764862060546875
          MARATHON_MATCH:
            wins: 6.77832496304801335185175048536621034145355224609375
            mostRecentSubmission: 6.87805222012787620400331434211693704128265380859375
            challenges: 5.94489560761401580890606055618263781070709228515625
            rank:
              schoolRank: 6.70401929795003592715829654480330646038055419921875
              maximumRating: 3.35319334701124294184637619764544069766998291015625
              avgNumSubmissions: 3.093745262666447448651751983561553061008453369140625
              rating: 7.14353804701230643559028976596891880035400390625
              competitions: 0.885137473901165261480628032586537301540374755859375
              volatility: 7.05877035158235610623478351044468581676483154296875
              topTenFinishes: 6.51918095101838179772357761976309120655059814453125
              minimumRating: 0.10263654006109401706225980888120830059051513671875
              percentile: 4.6523964329332461176136348512955009937286376953125
              defaultLanguage: "defaultLanguage"
              avgRank: 8.9695787981969115065794539987109601497650146484375
              rank: 7.7403518187411730622216055053286254405975341796875
              countryRank: 3.02057969929162428712743349024094641208648681640625
              bestRank: 3.05761002410493443193217899533919990062713623046875
              topFiveFinishes: 7.04836565559697003635619694250635802745819091796875
            mostRecentEventDate: 5.5332583970349862312332334113307297229766845703125
            mostRecentEventName: "mostRecentEventName"
          mostRecentEventDate: 3.258856561904760695824734284542500972747802734375
          SRM:
            wins: 4.078845849666752343409825698472559452056884765625
            mostRecentSubmission: 0.202532411323639305322785730822943150997161865234375
            challenges: 6.6284642750877420525057459599338471889495849609375
            rank:
              minimumRating: 4.258773108174356281097061582840979099273681640625
              percentile: 1.0414449161182959269211778519093059003353118896484375
              defaultLanguage: "defaultLanguage"
              schoolRank: 4.67894798900584873990737833082675933837890625
              maximumRating: 7.26052126480210358039357743109576404094696044921875
              rating: 9.132027271330688478201409452594816684722900390625
              competitions: 0.8774076871421565559927557842456735670566558837890625
              rank: 9.7029638000235660655334868351928889751434326171875
              volatility: 0.519900201872498524124921459588222205638885498046875
              countryRank: 7.93350688173715123951978966942988336086273193359375
            mostRecentEventDate: 5.5073869641798811613853104063309729099273681640625
            mostRecentEventName: "mostRecentEventName"
          mostRecentEventName: "mostRecentEventName"
        DEVELOP:
          wins: 4.863159081028840091676102019846439361572265625
          mostRecentSubmission: 6.07389808578115175663469926803372800350189208984375
          challenges: 8.2516257489237574418439180590212345123291015625
          subTracks:
          - wins: 4.4596050349586793259959449642337858676910400390625
            mostRecentSubmission: 3.901545264248647004734493748401291668415069580078125
            challenges: 0.434313988241488146968549699522554874420166015625
            submissions:
              appealSuccessRate: 2.940964297482789646664969041012227535247802734375
              minScore: 1.7325933120207193116613098027301020920276641845703125
              passedScreening: 8.289659398142969592981899040751159191131591796875
              avgPlacement: 6.623518433804886029747649445198476314544677734375
              reviewSuccessRate: 4.57393626423225096999658489949069917201995849609375
              maxScore: 8.863729185622826634016746538691222667694091796875
              appeals: 9.2541839462678385785920909256674349308013916015625
              avgScore: 1.826870217705811594299802891327999532222747802734375
              numInquiries: 3.502657762086400783374529055436141788959503173828125
              submissions: 9.1831235947739937586220548837445676326751708984375
              screeningSuccessRate: 8.761432466225475224064211943186819553375244140625
              submissionRate: 0.4182561061793121925944660688401199877262115478515625
              passedReview: 5.2991435602753593769875806174241006374359130859375
              winPercent: 5.31248970433629619236626240308396518230438232421875
            name: "name"
            rank:
              overallPercentile: 8.3782374103486905170257159625180065631866455078125
              activeRank: 7.60686372309257929913428597501479089260101318359375
              overallCountryRank: 3.78141247307679151390402694232761859893798828125
              reliability: 3.11120283340319492282333158073015511035919189453125
              rating: 9.8974926292155060991717618890106678009033203125
              minRating: 5.87712470611669512976504847756586968898773193359375
              volatility: 7.835035282970782333222814486362040042877197265625
              overallSchoolRank: 0.4768402382624514768139079023967497050762176513671875
              overallRank: 3.1497903714250554685349925421178340911865234375
              activeSchoolRank: 2.380090174313445050557902504806406795978546142578125
              activeCountryRank: 3.8041126957310780198895372450351715087890625
              maxRating: 8.675064425986757754571954137645661830902099609375
              activePercentile: 4.5183095178742433972729486413300037384033203125
            id: 0.4833312865174044237193129447405226528644561767578125
            mostRecentEventDate: 0.352621920992366444380650136736221611499786376953125
          - wins: 4.4596050349586793259959449642337858676910400390625
            mostRecentSubmission: 3.901545264248647004734493748401291668415069580078125
            challenges: 0.434313988241488146968549699522554874420166015625
            submissions:
              appealSuccessRate: 2.940964297482789646664969041012227535247802734375
              minScore: 1.7325933120207193116613098027301020920276641845703125
              passedScreening: 8.289659398142969592981899040751159191131591796875
              avgPlacement: 6.623518433804886029747649445198476314544677734375
              reviewSuccessRate: 4.57393626423225096999658489949069917201995849609375
              maxScore: 8.863729185622826634016746538691222667694091796875
              appeals: 9.2541839462678385785920909256674349308013916015625
              avgScore: 1.826870217705811594299802891327999532222747802734375
              numInquiries: 3.502657762086400783374529055436141788959503173828125
              submissions: 9.1831235947739937586220548837445676326751708984375
              screeningSuccessRate: 8.761432466225475224064211943186819553375244140625
              submissionRate: 0.4182561061793121925944660688401199877262115478515625
              passedReview: 5.2991435602753593769875806174241006374359130859375
              winPercent: 5.31248970433629619236626240308396518230438232421875
            name: "name"
            rank:
              overallPercentile: 8.3782374103486905170257159625180065631866455078125
              activeRank: 7.60686372309257929913428597501479089260101318359375
              overallCountryRank: 3.78141247307679151390402694232761859893798828125
              reliability: 3.11120283340319492282333158073015511035919189453125
              rating: 9.8974926292155060991717618890106678009033203125
              minRating: 5.87712470611669512976504847756586968898773193359375
              volatility: 7.835035282970782333222814486362040042877197265625
              overallSchoolRank: 0.4768402382624514768139079023967497050762176513671875
              overallRank: 3.1497903714250554685349925421178340911865234375
              activeSchoolRank: 2.380090174313445050557902504806406795978546142578125
              activeCountryRank: 3.8041126957310780198895372450351715087890625
              maxRating: 8.675064425986757754571954137645661830902099609375
              activePercentile: 4.5183095178742433972729486413300037384033203125
            id: 0.4833312865174044237193129447405226528644561767578125
            mostRecentEventDate: 0.352621920992366444380650136736221611499786376953125
          mostRecentEventDate: 7.2037947498048939820591840543784201145172119140625
      description: "description"
      handle: "handle"
      maxRating:
        rating: 4.3323048218758941629857872612774372100830078125
        subTrack: "subTrack"
        track: "track"
      competitionCountryCode: "competitionCountryCode"
      userId: 2.7977867356748475913263973779976367950439453125
      tracks:
      - "tracks"
      - "tracks"
  MemberSuggestResponse:
    type: "object"
    properties:
      id:
        type: "string"
        description: "unique id identifying the request"
      version:
        type: "string"
      result:
        $ref: "#/definitions/MemberSuggestResponse_result"
    title: "Single MemberSuggest object"
    example:
      result:
        metadata:
          totalCount: 6
        success: true
        content:
        - photoURL: "photoURL"
          firstName: "firstName"
          lastName: "lastName"
          handle: "handle"
          maxRating: 1.46581298050294517310021547018550336360931396484375
          userId: 6.02745618307040320615897144307382404804229736328125
        - photoURL: "photoURL"
          firstName: "firstName"
          lastName: "lastName"
          handle: "handle"
          maxRating: 1.46581298050294517310021547018550336360931396484375
          userId: 6.02745618307040320615897144307382404804229736328125
        status: 0.80082819046101150206595775671303272247314453125
      id: "id"
      version: "version"
  MemberSuggest:
    type: "object"
    properties:
      userId:
        type: "number"
        format: "int64"
      handle:
        type: "string"
      photoURL:
        type: "string"
      firstName:
        type: "string"
      lastName:
        type: "string"
      maxRating:
        type: "number"
        format: "int64"
    example:
      photoURL: "photoURL"
      firstName: "firstName"
      lastName: "lastName"
      handle: "handle"
      maxRating: 1.46581298050294517310021547018550336360931396484375
      userId: 6.02745618307040320615897144307382404804229736328125
  MemberStatsResponse:
    type: "object"
    properties:
      id:
        type: "string"
        description: "unique id identifying the request"
      version:
        type: "string"
      result:
        $ref: "#/definitions/MemberStatsResponse_result"
    title: "Single MemberStats object"
    example:
      result:
        metadata:
          totalCount: 6
        success: true
        content:
          wins: 5.962133916683182377482808078639209270477294921875
          copilot:
            contests: 8.3782374103486905170257159625180065631866455078125
            activeContests: 9.8974926292155060991717618890106678009033203125
            projects: 7.60686372309257929913428597501479089260101318359375
            failures: 3.78141247307679151390402694232761859893798828125
            fulfillment: 7.835035282970782333222814486362040042877197265625
            reposts: 3.11120283340319492282333158073015511035919189453125
            activeProjects: 5.87712470611669512976504847756586968898773193359375
          updatedBy: "updatedBy"
          challenges: 1.46581298050294517310021547018550336360931396484375
          handle: "handle"
          develop:
            wins: 2.3021358869347654518833223846741020679473876953125
            mostRecentSubmission: "2000-01-23T04:56:07.000+00:00"
            challenges: 5.63737665663332876420099637471139430999755859375
            subTracks:
            - wins: 3.61607674925191080461672754609026014804840087890625
              mostRecentSubmission: "2000-01-23T04:56:07.000+00:00"
              challenges: 9.301444243932575517419536481611430644989013671875
              submissions:
                appealSuccessRate: 6.77832496304801335185175048536621034145355224609375
                minScore: 5.94489560761401580890606055618263781070709228515625
                passedScreening: 6.438423552598546706349225132726132869720458984375
                avgPlacement: 3.35319334701124294184637619764544069766998291015625
                reviewSuccessRate: 1.2846590061165319429647979632136411964893341064453125
                maxScore: 6.87805222012787620400331434211693704128265380859375
                appeals: 2.884162126668780246063761296682059764862060546875
                avgScore: 6.70401929795003592715829654480330646038055419921875
                numInquiries: 6.683562403749608193948006373830139636993408203125
                submissions: 8.7620420127490010742121739895083010196685791015625
                screeningSuccessRate: 3.557195227068097320710649000830017030239105224609375
                submissionRate: 9.0183481860707832566959041287191212177276611328125
                passedReview: 6.96511769763884558415156789124011993408203125
                winPercent: 3.093745262666447448651751983561553061008453369140625
              name: "name"
              rank:
                overallPercentile: 1.489415909854170383397331534069962799549102783203125
                activeRank: 7.3862819483858839220147274318151175975799560546875
                overallCountryRank: 7.4577447736837658709418974467553198337554931640625
                reliability: 5.02500479152029466689555192715488374233245849609375
                rating: 2.027123023002321833274663731572218239307403564453125
                minRating: 9.3693102714106686335071572102606296539306640625
                volatility: 4.9652184929849543237878606305457651615142822265625
                overallSchoolRank: 1.173074250955943309548956676735542714595794677734375
                overallRank: 6.8468526983526398765889098285697400569915771484375
                activeSchoolRank: 1.024645700144157789424070870154537260532379150390625
                activeCountryRank: 1.231513536777255612975068288506008684635162353515625
                maxRating: 9.965781217890562260208753286860883235931396484375
                activePercentile: 4.1456080298839363962315474054776132106781005859375
              id: 7.061401241503109105224211816675961017608642578125
              mostRecentEventDate: "2000-01-23T04:56:07.000+00:00"
            - wins: 3.61607674925191080461672754609026014804840087890625
              mostRecentSubmission: "2000-01-23T04:56:07.000+00:00"
              challenges: 9.301444243932575517419536481611430644989013671875
              submissions:
                appealSuccessRate: 6.77832496304801335185175048536621034145355224609375
                minScore: 5.94489560761401580890606055618263781070709228515625
                passedScreening: 6.438423552598546706349225132726132869720458984375
                avgPlacement: 3.35319334701124294184637619764544069766998291015625
                reviewSuccessRate: 1.2846590061165319429647979632136411964893341064453125
                maxScore: 6.87805222012787620400331434211693704128265380859375
                appeals: 2.884162126668780246063761296682059764862060546875
                avgScore: 6.70401929795003592715829654480330646038055419921875
                numInquiries: 6.683562403749608193948006373830139636993408203125
                submissions: 8.7620420127490010742121739895083010196685791015625
                screeningSuccessRate: 3.557195227068097320710649000830017030239105224609375
                submissionRate: 9.0183481860707832566959041287191212177276611328125
                passedReview: 6.96511769763884558415156789124011993408203125
                winPercent: 3.093745262666447448651751983561553061008453369140625
              name: "name"
              rank:
                overallPercentile: 1.489415909854170383397331534069962799549102783203125
                activeRank: 7.3862819483858839220147274318151175975799560546875
                overallCountryRank: 7.4577447736837658709418974467553198337554931640625
                reliability: 5.02500479152029466689555192715488374233245849609375
                rating: 2.027123023002321833274663731572218239307403564453125
                minRating: 9.3693102714106686335071572102606296539306640625
                volatility: 4.9652184929849543237878606305457651615142822265625
                overallSchoolRank: 1.173074250955943309548956676735542714595794677734375
                overallRank: 6.8468526983526398765889098285697400569915771484375
                activeSchoolRank: 1.024645700144157789424070870154537260532379150390625
                activeCountryRank: 1.231513536777255612975068288506008684635162353515625
                maxRating: 9.965781217890562260208753286860883235931396484375
                activePercentile: 4.1456080298839363962315474054776132106781005859375
              id: 7.061401241503109105224211816675961017608642578125
              mostRecentEventDate: "2000-01-23T04:56:07.000+00:00"
            mostRecentEventDate: "2000-01-23T04:56:07.000+00:00"
          userId: 6
          handleLower: "handleLower"
          dataScience:
            wins: 4.078845849666752343409825698472559452056884765625
            mostRecentSubmission: "2000-01-23T04:56:07.000+00:00"
            challenges: 3.258856561904760695824734284542500972747802734375
            marathonMatch:
              wins: 0.434313988241488146968549699522554874420166015625
              mostRecentSubmission: "2000-01-23T04:56:07.000+00:00"
              challenges: 3.901545264248647004734493748401291668415069580078125
              rank:
                schoolRank: 5.31248970433629619236626240308396518230438232421875
                maximumRating: 0.4182561061793121925944660688401199877262115478515625
                avgNumSubmissions: 6.623518433804886029747649445198476314544677734375
                rating: 2.940964297482789646664969041012227535247802734375
                competitions: 1.7325933120207193116613098027301020920276641845703125
                volatility: 9.1831235947739937586220548837445676326751708984375
                topTenFinishes: 9.2541839462678385785920909256674349308013916015625
                minimumRating: 8.761432466225475224064211943186819553375244140625
                percentile: 3.502657762086400783374529055436141788959503173828125
                defaultLanguage: "defaultLanguage"
                avgRank: 8.289659398142969592981899040751159191131591796875
                rank: 1.826870217705811594299802891327999532222747802734375
                countryRank: 5.2991435602753593769875806174241006374359130859375
                mostRecentEventDate: "2000-01-23T04:56:07.000+00:00"
                bestRank: 4.57393626423225096999658489949069917201995849609375
                topFiveFinishes: 8.863729185622826634016746538691222667694091796875
                mostRecentEventName: "mostRecentEventName"
              mostRecentEventDate: "2000-01-23T04:56:07.000+00:00"
              mostRecentEventName: "mostRecentEventName"
            mostRecentEventDate: "2000-01-23T04:56:07.000+00:00"
            srm:
              wins: 6.6284642750877420525057459599338471889495849609375
              mostRecentSubmission: "2000-01-23T04:56:07.000+00:00"
              challenges: 0.202532411323639305322785730822943150997161865234375
              challengeDetails:
              - challenges: 5.5073869641798811613853104063309729099273681640625
                levelName: "levelName"
                failedChallenges: 4.863159081028840091676102019846439361572265625
              - challenges: 5.5073869641798811613853104063309729099273681640625
                levelName: "levelName"
                failedChallenges: 4.863159081028840091676102019846439361572265625
              rank:
                minimumRating: 0.519900201872498524124921459588222205638885498046875
                percentile: 1.0414449161182959269211778519093059003353118896484375
                defaultLanguage: "defaultLanguage"
                schoolRank: 9.132027271330688478201409452594816684722900390625
                maximumRating: 9.7029638000235660655334868351928889751434326171875
                rating: 4.258773108174356281097061582840979099273681640625
                competitions: 7.93350688173715123951978966942988336086273193359375
                rank: 4.67894798900584873990737833082675933837890625
                volatility: 0.8774076871421565559927557842456735670566558837890625
                countryRank: 7.26052126480210358039357743109576404094696044921875
                mostRecentEventDate: "2000-01-23T04:56:07.000+00:00"
                mostRecentEventName: "mostRecentEventName"
              division1:
              - problemsSubmitted: 6.07389808578115175663469926803372800350189208984375
                problemsSysByTest: 4.4596050349586793259959449642337858676910400390625
                problemsFailed: 8.2516257489237574418439180590212345123291015625
                levelName: "levelName"
              - problemsSubmitted: 6.07389808578115175663469926803372800350189208984375
                problemsSysByTest: 4.4596050349586793259959449642337858676910400390625
                problemsFailed: 8.2516257489237574418439180590212345123291015625
                levelName: "levelName"
              division2:
              - problemsSubmitted: 6.07389808578115175663469926803372800350189208984375
                problemsSysByTest: 4.4596050349586793259959449642337858676910400390625
                problemsFailed: 8.2516257489237574418439180590212345123291015625
                levelName: "levelName"
              - problemsSubmitted: 6.07389808578115175663469926803372800350189208984375
                problemsSysByTest: 4.4596050349586793259959449642337858676910400390625
                problemsFailed: 8.2516257489237574418439180590212345123291015625
                levelName: "levelName"
              mostRecentEventDate: "2000-01-23T04:56:07.000+00:00"
              mostRecentEventName: "mostRecentEventName"
            mostRecentEventName: "mostRecentEventName"
          createdAt: "2000-01-23T04:56:07.000+00:00"
          createdBy: "createdBy"
          design:
            wins: 0.885137473901165261480628032586537301540374755859375
            mostRecentSubmission: "2000-01-23T04:56:07.000+00:00"
            challenges: 7.14353804701230643559028976596891880035400390625
            subTracks:
            - wins: 4.6523964329332461176136348512955009937286376953125
              mostRecentSubmission: "2000-01-23T04:56:07.000+00:00"
              passedScreening: 7.04836565559697003635619694250635802745819091796875
              challenges: 0.10263654006109401706225980888120830059051513671875
              avgPlacement: 7.7403518187411730622216055053286254405975341796875
              numInquiries: 6.51918095101838179772357761976309120655059814453125
              submissions: 3.02057969929162428712743349024094641208648681640625
              name: "name"
              screeningSuccessRate: 5.5332583970349862312332334113307297229766845703125
              submissionRate: 3.05761002410493443193217899533919990062713623046875
              id: 7.05877035158235610623478351044468581676483154296875
              winPercent: 8.9695787981969115065794539987109601497650146484375
              mostRecentEventDate: "2000-01-23T04:56:07.000+00:00"
            - wins: 4.6523964329332461176136348512955009937286376953125
              mostRecentSubmission: "2000-01-23T04:56:07.000+00:00"
              passedScreening: 7.04836565559697003635619694250635802745819091796875
              challenges: 0.10263654006109401706225980888120830059051513671875
              avgPlacement: 7.7403518187411730622216055053286254405975341796875
              numInquiries: 6.51918095101838179772357761976309120655059814453125
              submissions: 3.02057969929162428712743349024094641208648681640625
              name: "name"
              screeningSuccessRate: 5.5332583970349862312332334113307297229766845703125
              submissionRate: 3.05761002410493443193217899533919990062713623046875
              id: 7.05877035158235610623478351044468581676483154296875
              winPercent: 8.9695787981969115065794539987109601497650146484375
              mostRecentEventDate: "2000-01-23T04:56:07.000+00:00"
            mostRecentEventDate: "2000-01-23T04:56:07.000+00:00"
          maxRating:
            rating: 6.02745618307040320615897144307382404804229736328125
            subTrack: "subTrack"
            track: "track"
          updatedAt: "2000-01-23T04:56:07.000+00:00"
        status: 0.80082819046101150206595775671303272247314453125
      id: "id"
      version: "version"
  MemberStats:
    type: "object"
    properties:
      userId:
        type: "integer"
      handle:
        type: "string"
      handleLower:
        type: "string"
      maxRating:
        $ref: "#/definitions/MemberStats_maxRating"
      challenges:
        type: "number"
        format: "int64"
      wins:
        type: "number"
        format: "int64"
      develop:
        $ref: "#/definitions/MemberStats_develop"
      design:
        $ref: "#/definitions/MemberStats_design"
      dataScience:
        $ref: "#/definitions/MemberStats_dataScience"
      copilot:
        $ref: "#/definitions/MemberStats_copilot"
      updatedAt:
        type: "string"
        format: "date-time"
        description: "ISO-8601 formatted date times (YYYY-MM-DDTHH:mm:ss.sssZ)"
      createdAt:
        type: "string"
        format: "date-time"
        description: "ISO-8601 formatted date times (YYYY-MM-DDTHH:mm:ss.sssZ)"
      createdBy:
        type: "string"
      updatedBy:
        type: "string"
    example:
      wins: 5.962133916683182377482808078639209270477294921875
      copilot:
        contests: 8.3782374103486905170257159625180065631866455078125
        activeContests: 9.8974926292155060991717618890106678009033203125
        projects: 7.60686372309257929913428597501479089260101318359375
        failures: 3.78141247307679151390402694232761859893798828125
        fulfillment: 7.835035282970782333222814486362040042877197265625
        reposts: 3.11120283340319492282333158073015511035919189453125
        activeProjects: 5.87712470611669512976504847756586968898773193359375
      updatedBy: "updatedBy"
      challenges: 1.46581298050294517310021547018550336360931396484375
      handle: "handle"
      develop:
        wins: 2.3021358869347654518833223846741020679473876953125
        mostRecentSubmission: "2000-01-23T04:56:07.000+00:00"
        challenges: 5.63737665663332876420099637471139430999755859375
        subTracks:
        - wins: 3.61607674925191080461672754609026014804840087890625
          mostRecentSubmission: "2000-01-23T04:56:07.000+00:00"
          challenges: 9.301444243932575517419536481611430644989013671875
          submissions:
            appealSuccessRate: 6.77832496304801335185175048536621034145355224609375
            minScore: 5.94489560761401580890606055618263781070709228515625
            passedScreening: 6.438423552598546706349225132726132869720458984375
            avgPlacement: 3.35319334701124294184637619764544069766998291015625
            reviewSuccessRate: 1.2846590061165319429647979632136411964893341064453125
            maxScore: 6.87805222012787620400331434211693704128265380859375
            appeals: 2.884162126668780246063761296682059764862060546875
            avgScore: 6.70401929795003592715829654480330646038055419921875
            numInquiries: 6.683562403749608193948006373830139636993408203125
            submissions: 8.7620420127490010742121739895083010196685791015625
            screeningSuccessRate: 3.557195227068097320710649000830017030239105224609375
            submissionRate: 9.0183481860707832566959041287191212177276611328125
            passedReview: 6.96511769763884558415156789124011993408203125
            winPercent: 3.093745262666447448651751983561553061008453369140625
          name: "name"
          rank:
            overallPercentile: 1.489415909854170383397331534069962799549102783203125
            activeRank: 7.3862819483858839220147274318151175975799560546875
            overallCountryRank: 7.4577447736837658709418974467553198337554931640625
            reliability: 5.02500479152029466689555192715488374233245849609375
            rating: 2.027123023002321833274663731572218239307403564453125
            minRating: 9.3693102714106686335071572102606296539306640625
            volatility: 4.9652184929849543237878606305457651615142822265625
            overallSchoolRank: 1.173074250955943309548956676735542714595794677734375
            overallRank: 6.8468526983526398765889098285697400569915771484375
            activeSchoolRank: 1.024645700144157789424070870154537260532379150390625
            activeCountryRank: 1.231513536777255612975068288506008684635162353515625
            maxRating: 9.965781217890562260208753286860883235931396484375
            activePercentile: 4.1456080298839363962315474054776132106781005859375
          id: 7.061401241503109105224211816675961017608642578125
          mostRecentEventDate: "2000-01-23T04:56:07.000+00:00"
        - wins: 3.61607674925191080461672754609026014804840087890625
          mostRecentSubmission: "2000-01-23T04:56:07.000+00:00"
          challenges: 9.301444243932575517419536481611430644989013671875
          submissions:
            appealSuccessRate: 6.77832496304801335185175048536621034145355224609375
            minScore: 5.94489560761401580890606055618263781070709228515625
            passedScreening: 6.438423552598546706349225132726132869720458984375
            avgPlacement: 3.35319334701124294184637619764544069766998291015625
            reviewSuccessRate: 1.2846590061165319429647979632136411964893341064453125
            maxScore: 6.87805222012787620400331434211693704128265380859375
            appeals: 2.884162126668780246063761296682059764862060546875
            avgScore: 6.70401929795003592715829654480330646038055419921875
            numInquiries: 6.683562403749608193948006373830139636993408203125
            submissions: 8.7620420127490010742121739895083010196685791015625
            screeningSuccessRate: 3.557195227068097320710649000830017030239105224609375
[...]
